@model AspPractice.Models.ViewModels.AddEmpViewModel
@{
}

<h1>Add Employee</h1>

<form method="post">
    <div class="form-group">
        <label>Name</label>
        <input asp-for="Name" class="form-control" />
        <label>DeptId</label>
        <input asp-for="DeptId" class="form-control" />
        <label>UserName</label>
        <input asp-for="UserName" class="form-control" />
        <label>Password</label>
        <input asp-for="Password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary mb-3">Add</button>
</form>
