@model AspPractice.Models.ViewModels.AddDeptReqViewModel
@{
}

<h1>Add Department</h1>

<form method="post">
    <div class="form-group">
        <label class="mb-3">Dept Name</label>
        
        <input asp-for="Name" class="form-control" />
    </div>
    </br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
